.best-sellers {
  margin: 20px;
}

.img-best-seller {
  max-width: 50%;
}

.btn-shop-now {
  max-height: 40px;
  color: #ffffff;
  background-color: #fc851e;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

#seller-one,
#seller-two,
#seller-three {
  display: flex;
  justify-content: space-between;
}
