.shop-device {
  margin: 20px;
}
.shop-device h2 {
  font-family: $primary-font;
  font-weight: 200;
  font-size: 3em;
}
.room-device {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.round-images {
  display: block;
  max-width: 20%;
  height: auto;
  border-radius: 50%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.device-category {
  position: relative;
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin: 0px;
}
.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}

#play {
  position: absolute;
}
