.responsive-image {
  width: 100%;
  height: auto;
}
.featured-info {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.btn-featured {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
