footer {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $footer-color;
  border-top: solid 1px black;
  padding: 40px 10px;
}
footer ul {
  margin: 0px 50px;
  list-style-type: none;
  line-height: 30px;
}
