footer {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $footer-color;
  border-top: solid 1px black;
  padding-top: 40px;
}
footer ul {
  margin: 0 50px;
}
