header {
  color: white;
  background-color: black;
}
ul {
  list-style: none;
  line-height: 40px;
  padding-left: 20px;
}

nav li {
  padding: 5px;
  margin-right: 10px;
}

// CLASSES //
.nav-bar {
  display: none;
}
.show header nav {
  display: block;
  width: 100%;
}
.logo-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}
.btn-menu {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 35px;
}
.nav-icons {
  padding: 15px;
}
.nav-icons i {
  margin: 5px;
  margin-top: 0;
}

// ID's //
#logo-image {
  max-height: 34px;
  align-self: center;
}
/*
.btn-menu.open > span:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}
#hamburger.open > span:nth-child(1) {
  transform: rotateZ(45deg);
  top: 16px;
}
#hamburger.open > span:nth-child(2) {
  transform: rotateZ(-45deg);
  top: 16px;
} */
