.slick-slide img {
  position: relative;
  width: 100%;
}

// DOTS //
.slick-dots {
  display: block;
  position: absolute;
  bottom: 25px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 18px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: $primary-color;
  @media (min-width: $large) {
    font-size: 20px;
  }
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $primary-color;
}

// ARROWS //

#right-arrow-banner,
#left-arrow-banner {
  font-size: 30px;
  color: $primary-color;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#right-arrow-device,
#left-arrow-device {
  font-size: 40px;
  color: $primary-color;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#right-arrow-news,
#left-arrow-news {
  font-size: 40px;
  color: $primary-color;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
}

#right-arrow-banner {
  left: 90%;
  @media (min-width: $medium) {
    left: 94%;
  }
  @media (min-width: $extra-large) {
    left: 96%;
  }
}
#right-arrow-device,
#right-arrow-news {
  left: 97%;
}

#left-arrow-banner {
  left: 20px;
}

#left-arrow-device,
#left-arrow-news {
  left: 0;
}
