.slick-slide img {
  position: relative;
  width: 100%;
}

.slick-next {
  right: 25px;
  z-index: 5;
}
.slick-prev {
  left: 25px;
  z-index: 5;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: $primary-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#slick .arrow_next {
  color: red;
}

.slick-dots {
  display: block;
  position: absolute;
  bottom: 25px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 25px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: $primary-color;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $primary-color;
}
