$primary-color: #fc851e;
$footer-color: #ebebeb;
$primary-font: "Source Sans Pro", sans-serif;

// MEDIA QUERY VARIABLES //
$wrapper-width: 1400px;
$very-tiny: 350px;
$just-tiny: 450px;
$small-medium: 500px;
$medium: 700px;
$medium-medium: 750px;
$medium-large: 850px;
$large: 1000px;
